div {
	/*border: dashed black 1px;*/
}
body {
    /*background: #edeef0;*/
   font-family: 'Roboto Slab', serif;
}
#header {
	/*font-family: 'Roboto Slab', serif;*/
	/*font-family: Helvetica, Arial, serif;*/
	font-family: Century,sans-serif; 
	background: #2e7bcf url(../image/header-bg.jpg) 0 0 repeat-x;
	border-bottom: solid 1px #275da1;
	margin-bottom: 20px;
	color: white;
	background-position: 0 -30px;
	margin-bottom: 40px;
}
.aboutme {
 background-color: #edf6fa; /*#edeef0;*/
 border-radius: 10px;
 margin: auto;
}
.mddd {
	padding-top: 6px;
	max-width: 630px;
	margin: 0 auto;
}
.mddd div {
 display: inline-block;
 margin: auto;
}
.myphoto {
	height: 258px;
	width: 260px;
	background: #edf6fa url(../image/3.jpg) 50% 50% no-repeat;
	background-size: 250px;
	border-radius: 5%;
	}
.descript {
	height: auto;
	width: 360px;
	vertical-align: top;
}
.pew {
	font-family: 'Roboto Slab', serif;
	/*font-family: "Hind",sans-serif;*/
    font-size: 1.5em;
    font-weight: 300;
    padding: 10px;
    /*text-align: justify;*/
} 
.tableprofile {
 font-family: "Hind",sans-serif;
 max-width: 400px;
 margin: auto;
} 
.secondcell {
	text-align: right;
	vertical-align: middle;
}
label {
	width: 100%;
	text-align: center;
}
.Pskill {
	text-align: center;
	font-weight: 300;
	font-size: 1.5em;
}
.skills {	
	min-width: 200px;
	max-width: 580px;
	height: auto;
	margin: auto;
}
.skills div{
	display: inline-block;
	margin: 5px;
}
.skillst {
	background: /*rgba(236, 240, 241, 0.9);*/ #edf6fa;
    border-radius: 7px;
}
.javaskills {
    margin-left: 12.5%;
	width: 10%;
    min-height: 250px;
    min-width: 180px;
}
.webskills {
    width: 10%;
    min-height: 250px;
    min-width: 180px;
}
.oskills {
    width: 10%;
    min-height: 250px;
    min-width: 180px;
    /*background-color: #d9edf7;*/
}
.asd {
	min-width: 300px;
	width: 300px;	
	margin: 0 auto;
}
.contactstable {
	font-family: "Hind",sans-serif;
	max-width: 300px;
	margin: auto;
}
.share {
    width: 130px;
    padding: 10px;
    margin: auto;
    border-radius: 4px;
}
.share b {
    margin: auto;
    font-weight: 300;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    color: #337ab7;
    margin-left: 18px;
}
.social {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    vertical-align: middle;
    box-shadow: 1px 1px 3px #999999;
}
.social-vk {
    background-position: 0 0;  
    background: #bdc3c7 url("../image/vv.png") no-repeat center center;
    background-size: cover;
    border: 3px solid #337ab7;
    border-radius: 4px;
    margin: 5px;
}
.social-fb {
    background-position: -40px 0;
    background: #bdc3c7 url("../image/ff.png") no-repeat;
    background-size: cover;
    border: 3px solid #337ab7;
    border-radius: 4px;
     margin: 5px;
}
.social-git {
    background-position: -80px 0;
    background: #bdc3c7 url("../image/github-512.png") no-repeat;
    background-size: cover;
    border: 3px solid #337ab7;
    border-radius: 4px;
    margin: 5px;
}
.social-in {
    background-position: -80px 0;
    background: #bdc3c7 url("../image/linkedin.png") no-repeat;
    background-size: cover;
    border: 3px solid #337ab7;
    border-radius: 4px;
     margin: 5px;
}
#footer {
	font-family: Century,sans-serif; 
	position: absolute;
	bottom: 5px; 
	left: 5px;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
	margin: auto;
	margin-top: 30px;	
	clear: both;
}
.hid {
	visibility: hidden;
} 
.visbl:hover + .hid {
    visibility: visible;
}
.nav-tabs > li > a {
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}


@media (max-width: 600px) {

	.skills {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.mddd {
		display: flex;
		flex-direction: column;
		align-items: center;
	}	
	.resume {
		margin-bottom: 10px;
	}			
  #footer {
    font-family: Century,sans-serif; 
	position: relative;
	bottom: 5px; 
	left: 5px;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
	margin: auto;
	margin-top: 20px;	
	clear: both;
  }
}

@media (max-width: 400px){
	.descript p {
		width: 320px;
		font-size: 14px;
		text-align: center;
	}
}