div {
	/*border: dashed black 1px;*/
}
body {
    /*background: #edeef0;*/
}
#header {
	font-family: Helvetica, Arial, serif;
	background: #2e7bcf url(../image/header-bg.jpg) 0 0 repeat-x;
	border-bottom: solid 1px #275da1;
	margin-bottom: 20px;
	color: white;
	background-position: 0 -30px;
	margin-bottom: 40px;
}
.myTabContent {

}
.aboutme {
 background-color: #edeef0;	
}
.aboutme div {
 display: inline-block;
}

.myphoto {
	height: 258px;
	width: 36%;
	min-width: 110px;
	background: #edeef0 url(../image/myphoto2.jpg) 50% 50% no-repeat;
	background-size: 250px;
	margin: 10px;
	margin-bottom: 25px;
	}
.descript {
	height: auto;
	width: 50%;
	vertical-align: top;
	margin: 10px;
}
.pew {
	font-family: "Hind",sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    /*text-align: justify;*/
} 
.tableprofile {
 max-width: 400px;
 margin: auto;
} 
.secondcell {
	text-align: right;
	vertical-align: middle;
}


label {
	width: 100%;
	text-align: center;
}
.Pskill {
	text-align: center;
	font-weight: 300;
	font-size: 1.5em;
}

.skills {	
	min-width: 200px;
	max-width: 580px;
	height: auto;
	margin: auto;
}
.skills div{
	display: inline-block;
	margin: 5px;
}
.skillst {
	background: rgba(236, 240, 241, 0.9);
    border-radius: 7px;
}
.javaskills {
    margin-left: 12.5%;
	width: 10%;
    min-height: 200px;
    min-width: 180px;
}
.webskills {
    width: 10%;
    min-height: 200px;
    min-width: 180px;
}
.oskills {
    width: 10%;
    min-height: 200px;
    min-width: 180px;
    /*background-color: #d9edf7;*/
}
#profile {
	/*margin-left: 100px;
	margin-right: 100px;*/
}
#contacts {
	/*margin-left: 100px;
	margin-right: 100px;*/
}
.asd {
	width: 280px;
	margin: 0 auto;
}
.contactstable {
	max-width: 300px;
	margin: auto;
}
.share {
    /*width: auto;*/
    background: #ecf0f1;
    /*max-width: 130px;
    min-width: 126px;*/
    width: 130px;
    padding: 10px;
    margin: auto;
}
.share b {
    margin: auto;
    font-weight: 300;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    color: #337ab7;
    margin-left: 18px;
}
.social {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    vertical-align: middle;
    box-shadow: 1px 1px 3px #999999;
}
.social-vk {
    background-color: #6d8fb3;
    background-position: 0 0;  
    background: #bdc3c7 url("../image/vv.png") no-repeat center center;
    background-size: cover;
    border: 3px solid #337ab7;
    border-radius: 4px;
    margin: 5px;

}
.social-fb {
    background-color: #526da3;
    background-position: -40px 0;
    background: #bdc3c7 url("../image/ff.png") no-repeat;
    background-size: cover;
    border: 3px solid #337ab7;
    border-radius: 4px;
     margin: 5px;
}
.social-git {
    background-color: #73bfe6;
    background-position: -80px 0;
    background: #bdc3c7 url("../image/github-512.png") no-repeat;
    background-size: cover;
    border: 3px solid #337ab7;
    border-radius: 4px;
     margin: 5px;
}
.social-in {
    background-color: #73bfe6;
    background-position: -80px 0;
    background: #bdc3c7 url("../image/linkedin.png") no-repeat;
    background-size: cover;
    border: 3px solid #337ab7;
    border-radius: 4px;
     margin: 5px;
}
#footer {
	font-family: Century,sans-serif; 
	position: absolute;
	bottom: 5px; 
	left: 5px;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
	margin: auto;
	clear: both;
}
.hid {
	visibility: hidden;
} 
.visbl:hover + .hid {
    visibility: visible;
}
.nav-tabs > li > a {
  margin-left: 3px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}